---
import  RoundButton from './RoundButton.astro'
import Label from './basics/Label.astro'
import '../styles/style.css'
import { Icon } from 'astro-icon/components'
const { buttonColor, bgColor, fontColor } = Astro.props;

const valueData = await fetch("https://raw.githubusercontent.com/julievictoria98/frontend-design/main/resources/json/corevalues.json").then((res) => res.json());
---

<article class={`grid-view ${bgColor}`}>
    <div class="core_text_flex">
        <div class="only_text_flex">
        <div class={`text ${fontColor}`}>
            <h1>{valueData.title}</h1>
            <Label label="yellow">GROWING WITH OUR CLITENS</Label>
            <p>{valueData.subtitle}</p>
        </div>
        <div>
            <RoundButton color={buttonColor}>Get in touch</RoundButton> 
        </div>
        </div>
        <ul class="card">
            {valueData.values.map((value) => (
                
                <li class="value_card_flex">
                <div class="icon">
                    { <Icon name="layers" /> }                    
               </div>
                <h3 class="bold">{value.title}</h3>
                <p>{value.description}</p>
                <button>Read more</button>
                </li>
            ))} 
        </ul>
    </div>
</article>

<style>
    @layer components{
    article{
       padding-top: 5rem;
 
    }
    .text{
    *+*{
        margin-top: 1rem;
    }
  }


    .fontBlack :not(h2) {
        color: var(--primary-color-3);
    }
    .fontBlack * + * {
        margin-top: 1rem;
    } 

    .fontWhite :not(h2) {
        color: var(--secondary-color-2);
        
    } 

    .black{
        background-color: var(--primary-color-3);
    }


    .gray{
        background-color: #F5F5F5;
    }

  .fontBlack .fontWhite{
    * + *{
        margin-top: 1rem;
    }
  }

    
    ul{
        display:flex;
        flex-wrap: wrap;
        gap:4rem;
        align-items: flex-start;
        padding: 0;  

    }

    ul > li {
        background-color: var(--secondary-color-2); 
        border-radius: 1rem;
        padding: 1.2rem; 
        box-sizing: border-box;
        max-width: 15rem; */
        align-self: flex-start;
    }

    .core_text_flex{
        display: flex;
        flex-direction: column;
        gap: 3rem; 
    }

    .icon{
        width:3rem;
        
    }

    .value_card_flex{
        display: flex;
        flex-direction: column;
        max-width: 20rem;
        gap: 1rem;
        padding: 2rem;
        align-items: flex-start;
    }

    .only_text_flex{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: flex-end;
        justify-content: space-between;
        & p{
            max-width: 35rem;
        }
    }

    @media (max-width: 800px) {
        .only_text_flex{
            flex-direction: column;
            align-items: flex-start;
        }
     
    }

    @media (max-width: 640px) {

           ul{
            justify-content: center;
       
    }
        
    }
    }


    
</style>