---
export async function getStaticPaths() {
  const EmployeeData = await fetch(
    "https://raw.githubusercontent.com/julievictoria98/frontend-design/main/resources/json/employees.json"
  ).then((res) => res.json());

  return EmployeeData.map((employee) => {
    return {
      params: { slug: employee.slug },
      props: { employee: employee },
    };
  });
}
const { employee } = Astro.props;
console.log(employee);
---

<article>
  <!-- <img src={employee.img} alt={employee.name} transition:name={slug} />
  <div class="content">
    <h1>{employee.name}</h1>
    <p>{employee.description}</p>
  </div> -->
  <h1>hej</h1>
</article>
