---
import { Icon } from "astro-icon/components";
import "../../styles/style.css";
const { employee } = Astro.props;
const { name, img, description, slug } = employee;
---

<div class="employee_card">
  <a data-view-transition href={`/employees/${slug}`}>
    <img src={img.slice(11)} alt={name} transition:name=`img-${slug}` />
    <div class="content">
      <h1 transition:name=`name-${slug}`>{name}</h1>
      <p transition:name=`p-${slug}`>{description}</p>
      <label></label>
      <div class="icons">
        <div>
          <Icon name="facebook" />
        </div>
        <div>
          <Icon name="twitter" />
        </div>
        <div>
          <Icon name="instagram" />
        </div>
      </div>
    </div>
  </a>

  <style>
    @layer components {
      article > :first-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        gap: 2rem;
        row-gap: 5rem;
        border-radius: 1rem;
      }

      img {
        border-radius: 10%;
        object-fit: cover;
      }

      .employee_card {
        border-radius: 1rem;
        background-color: var(--secondary-color-1);
        color: var(--secondary-color-1);
        width: 18rem;
        cursor: pointer;

        &:has(img) {
          padding: 0rem;
        }

        &:has(img) .content {
          padding: 1rem;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 1.5rem;
        align-items: center;
        text-align: center;
      }

      a {
        text-decoration: none;
      }

      .icons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
      }

      h1 {
        font-size: 1.5rem;
      }
    }
  </style>
</div>
