---
import { ViewTransitions } from "astro:transitions";
export async function getStaticPaths() {
  const EmployeeData = await fetch(
    "https://raw.githubusercontent.com/julievictoria98/frontend-design/main/resources/json/employees.json"
  ).then((res) => res.json());

  return EmployeeData.map((employee) => {
    return {
      params: { slug: employee.slug },
      props: { employee: employee },
    };
  });
}
const { employee } = Astro.props;
const { name, img, slug } = employee;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>
  <ViewTransitions />
</head>

<article>
  <h1 transition:name=`name-${slug}`>{name}</h1>
  <img src={img} alt="" transition:name=`img-${slug}` />
</article>
