---
import { ViewTransitions } from "astro:transitions";
import Image from "../../components/basics/Image.astro";
import "../../styles/style.css";
export async function getStaticPaths() {
  const EmployeeData = await fetch(
    "https://raw.githubusercontent.com/julievictoria98/frontend-design/main/resources/json/employees.json"
  ).then((res) => res.json());

  return EmployeeData.map((employee) => {
    return {
      params: { slug: employee.slug },
      props: { employee: employee },
    };
  });
}
const { employee } = Astro.props;
const { name, img, slug, title } = employee;
import { Icon } from "astro-icon/components";
import Newsletter from "../../components/basics/Newsletter.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>
  <ViewTransitions />
</head>

<article class="grid-view">
  <div class="content">
    <div class="img">
      <Image
        URL={img}
        classname="image_style_1"
        transition:name=`img-${slug}`
      />
    </div>
    <!-- <img src={img} alt="" transition:name=`img-${slug}` /> -->
    <div>
      <div>
        <h1 transition:name=`name-${slug}`>{name}</h1>
        <div class="icons" transition:animate="slide">
          <Icon name="facebook" transition:name=`icon1-${slug}` />
          <Icon name="twitter" />
          <Icon name="instagram" />
        </div>
      </div>
      <p transition:name=`p-${slug}`>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas odio
        ipsa sequi rerum hev! Praesentiumtn autem repudiandae corrupti culpa
        eum, corporis obcaecati saepe, nemo quod, aperiam explicabo porro eaque
        beatae!
      </p>
      <h2>Past experinces</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse,
        molestiae excepturi provident quo repellat unde voluptatum quod
        reprehenderit maiores magni sit. Nisi veniam atque optio alias natus ex
        eum necessitatibus.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates
        dolorem possimus eum officiis vel, mollitia placeat veritatis deleniti.
        Maxime quis ipsum nam aperiam vel repellat dolorum deserunt est unde
        consectetur!
      </p>
    </div>
  </div>
  <Newsletter />
</article>

<style>
  @layer components {
    .content {
      display: flex;
      flex-direction: row;
      gap: 7rem;
      margin-top: 5rem;
      padding: 2rem;

      & p:first-of-type {
        padding-bottom: 4rem;
        border-bottom: 2px solid rgb(208, 206, 206);
      }

      & > :nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-left: 0rem;

        & > :first-child {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          & > * {
            display: flex;
            flex-direction: row;
            gap: 2rem;
          }
        }
      }
    }

    h1,
    h2 {
      font-size: var(--step-4);
    }

    .icons {
      width: 10rem;
    }

    @media (max-width: 768px) {
      .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
        padding: 2rem;
        text-align: center;

        & p:first-of-type {
          padding-bottom: 4rem;
          border-bottom: 2px solid rgb(208, 206, 206);
        }

        & > :nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          padding-left: 0rem;

          & > :first-child {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & > * {
              display: flex;
              flex-direction: row;
              gap: 2rem;
              max-width: 100rem;
              align-self: center;
            }
          }
        }
      }
      .icons {
        width: 8rem;
      }
    }
  }
</style>
